@import '~assets/scss/breakpoints';
@import '~assets/scss/variables';

header {
	position: absolute;
	padding: 1.6rem;
	width: 100%;
	z-index: 10;

	@include media('<=tablet') {
		padding: 1.2em 0;
	}

	> .container {
		position: static;
	}

	.headerSocialContactWrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.6rem;
		color: #fff;

		@include media('<=tablet') {
			margin-bottom: 0;
			margin-top: 8px;
		}

		.iconWrapper {
			display: flex;
			align-items: center;

			.icon {
				margin-right: 0.8rem;
				width: 1.8rem;
				fill: #fff;
			}
			span {
				font-size: 1.4rem;
				font-weight: 700;
			}
		}
	}
	.socialWrapper {
		display: flex;
		a {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 1.6rem;
			padding: 4px;
			margin-bottom: 0;

			@include media('<=tablet') {
				margin-right: 0.4rem;
			}

			&:hover {
				&::before {
					content: '';
					position: absolute;
					display: block;
					background-color: rgba(255, 255, 255, 0.9);
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
				.icon-facebook {
					fill: #3b5998;
				}
				.icon-linkedin {
					fill: #0e76a8;
				}
				.icon-youtube {
					fill: #c4302b;
				}
				.icon-instagram {
					fill: #f56040;
				}
			}

			.icon {
				position: relative;
				transform: scale(0.7);
				fill: #fff;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	.headerInner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
		padding: 1.6rem;

		@include media('<=tablet') {
			background-color: transparent;
			position: fixed;
		}

		.menu-toggler {
			position: fixed;
			display: flex;
			align-items: center;
			right: -12rem;
			height: 70px;
			width: 12rem;
			background-color: black;
			cursor: pointer;
			transition: all 0.4s;

			@include media('<=tablet') {
				height: 6rem;
				width: 10rem;
			}

			&.isActive {
				right: 0;
			}

			.icon-codesuit {
				width: 4.8rem;
				margin: 0 1.2rem;

				@include media('<=tablet') {
					width: 4rem;
				}
			}

			.icon {
				fill: #fff;
			}
		}
	}

	.logo-wrapper {
		display: flex;
		margin: 0;
		align-items: center;

		@include media('<=tablet') {
			visibility: hidden;
		}

		.codesuit-logo,
		.mr-sign {
			max-width: 6rem;

			&:first-of-type {
				margin-right: 1.2rem;
			}
			&:last-of-type {
				max-width: 7rem;
			}
		}
	}
	.menu-wrapper {
		position: relative;
		display: flex;

		@include media('<=tablet') {
			visibility: hidden;
		}

		.menu-list {
			display: flex;
			align-items: center;
			.menu-item {
				margin-right: 3.2rem;
				&:last-of-type {
					margin-right: 0;
				}
				.item-link {
					display: inline-block;
					position: relative;
					font-size: 1.4rem;
					font-weight: 700;
					color: $gray-dark;
					margin-bottom: 0;
					text-transform: uppercase;
				}
			}
		}
		.menu-toggler-easy {
			position: absolute;
			display: flex;
			align-items: center;
			right: -6.2rem;
			cursor: pointer;

			@include media('<=1080px') {
				display: none;
			}

			.icon {
				fill: #fff;
			}
		}
	}
	.sidebarMenuWrapper {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100vh;
		padding: 3.2rem;
		z-index: 1000;
		background-color: $offblack;
		-webkit-backface-visibility: hidden;
		transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);

		&.isOpen {
			right: 0;

			.menu-wrapper {
				@include media('<=tablet') {
					visibility: unset;
				}
			}
		}

		.innerWrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			width: 100%;
			padding: 0 8rem;

			@include media('<=tablet') {
				padding: 3.2rem;
				height: 100%;
			}

			.icon-x-mark {
				position: absolute;
				top: 0;
				right: 0;
				fill: #fff;
				cursor: pointer;

				@include media('<=tablet') {
					transform: scale(0.8);
				}
			}

			.icon-codesuit {
				width: 12rem;
				margin: 0 1.2rem;
				margin-bottom: 4rem;
				height: unset;

				@include media('<=tablet') {
					width: 10rem;
					margin-bottom: 4rem;
				}
			}

			.menu-wrapper {
				position: relative;
				display: flex;
				.menu-list {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					margin-bottom: 6rem;

					@include media('<=tablet') {
						margin-bottom: 4rem;
					}

					.menu-item {
						margin-bottom: 4rem;
						margin-right: 0;

						@include media('<=tablet') {
							margin-bottom: 2.4rem;
						}

						&:last-of-type {
							margin-bottom: 0;
						}

						&:hover {
							a {
								color: $secondary-color;
							}
						}

						.item-link {
							display: inline-block;
							position: relative;
							font-size: 2.4rem;
							letter-spacing: 1px;
							font-weight: 900;
							color: #fff;
							margin-bottom: 0;
							text-transform: uppercase;

							@include media('<=tablet') {
								font-size: 2rem;
							}
	
						}
					}
				}
			}
		}
	}
	.slantBottomDivider {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: unset;
		height: unset;
		path {
			fill: $primary-color !important;
		}
	}
}
