@import '~/scss/variables';

.CServices {
	.content-inner {
		padding: 2.4rem 4.8rem;
		border-left: 1px solid RGBA($black-rgb, 0.3);

		&--last {
			border-right: 1px solid RGBA($black-rgb, 0.3);
		}

		h2 {
			font-weight: 600;
		}

		button {
			margin-top: 2.4rem;
		}
	}
	hr {
		height: 1px;
		background-color: RGBA($black-rgb, 0.3);
	}
}
