/* SCSS HEX */

$petrol:       #094C62;
$orange:       #F16206;
$offblack:     #323232;

$turquoise:    #0596a1;
$yellow:       #dbd527;
$green:        #9cc11a;
$red:          #E2532F;


$primary-color:   $turquoise;
$secondary-color: $yellow;
$third-color:     $green; 

$gray-medium:  #cfdbd5ff;
$gray-light:   #e8eddfff;
$gray-light-1: #fafafa;
$gray-light-2: #B7BFCC;
$black:        #242423ff;
$gray-dark:    #333533ff;
$offwhite:     #f8f8ff;

/* SCSS RGB */
$gray-medium-rgb: 207, 219, 213;
$gray-light-rgb: 232, 237, 223;
$yellow-rgb: 245, 203, 92;
$black-rgb: 36, 36, 35;
$gray-dark-rgb: 51, 53, 51;
