*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body {
	font-size: 62.5%;
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

ol,
ul {
	list-style: none;
}

@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/grid/columns.sass';
@import 'bulma/sass/grid/tiles.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/box.sass';

$spacing-multiply: 1.2;

$spacing-values: (
	'0': 0rem * $spacing-multiply,
	'1': 1rem * $spacing-multiply,
	'2': 2rem * $spacing-multiply,
	'3': 3rem * $spacing-multiply,
	'4': 4rem * $spacing-multiply,
	'5': 5rem * $spacing-multiply,
	'6': 6rem * $spacing-multiply,
	'7': 7rem * $spacing-multiply,
	'8': 8rem * $spacing-multiply,
	'9': 9rem * $spacing-multiply
);
@import 'bulma/sass/helpers/spacing.sass';
@import 'bulma/sass/helpers/flexbox.sass';
@import 'bulma/sass/layout/section.sass';
.container {
	padding: 0 1.6rem;
	width: inherit;
}


.row-reverse {
	flex-direction: row-reverse
}


@import './breakpoints';
@import './variables';
@import './typo';
@import './utils';
@import './buttons';
