@import '~assets/scss/variables';
@import '~assets/scss/breakpoints';

.CFooter {
	background-color: $gray-dark;

	.slantTopDivider{
		path {
			fill: $secondary-color !important;
		}
	}
}
footer {
	margin: 0 auto;
	.footerInner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo-wrapper {
		display: flex;
		img {
			width: 6rem;

			@include media('<=tablet') {
				width: 4.5rem;
			}

			&:last-of-type {
				max-width: 7rem;
			}
		}
	}
	.heart-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		p {
			color: white;
			margin-bottom: 0;
			font-size: 1rem;

			@include media('>tablet') {
				font-size: 1.6rem;
			}

			span {
				display: inline-block;
				color: lightcoral;
				font-size: 2rem;
				transition: all 0.5s;
				transform: scale(1);
				vertical-align: sub;
				animation: pulse 1.2s infinite;
				
				@include media('>tablet') {
					font-size: 3.5rem;
				}
			}
		}
	}
	.menu-wrapper {
		display: flex;
		.menu-list {
			display: flex;
			.menu-item {
				margin-left: 1rem;
				@include media('>tablet') {
					margin-left: 3.2rem;
				}
				&:first-of-type {
					margin-left: 0;
				}
				.item-link {
					display: inline-block;
					position: relative;
					color: $gray-light-2;
					margin-bottom: 0;

					@include media('<=tablet') {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(0.95);
	}
}
