@import "~assets/scss/variables";
@import '~assets/scss/breakpoints';

.CPortfolio {
	position: relative;
	display: flex;
	flex-direction: column;
	.sectionHeading {
		margin-bottom: 0;
		line-height: 1;
	}
	.subHeading {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 8rem;
	}

	.img-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	.case-content {
		display: flex;
		height: 100%;
		flex-direction: column;
		padding: 4rem 0;

		h3.case-title {
			font-size: 4rem;
			letter-spacing: -0.1rem;

			@include media('<=phone') {
				font-size: 2.8rem;
			}

		}
	
		.actions {
			margin-top: auto;
			a {
				&.design-link{
					display: inline-block;
					font-size: 1.3rem;
					color: $offblack;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	img {
		width: 100%;
	}

	.portfolio-end-text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}
