@import '~assets/scss/variables';
@import '~assets/scss/breakpoints';

.CDivider {
	background-color: $offblack;
	position: relative;

	.logoWrapper {
		display: flex;
		justify-content: center;

		.codesuitLogo {
			width: 50%;
			
			@include media('<=tablet') {
				width: 25%
			}

			@include media('<=phone') {
				width: 40%
			}
		}

		.mrLogo {
			width: 50%;
			// margin-left: 2rem;
		}
	}

	.SlantBottomDivider{
		margin-bottom: -2px;
	}
}
