/* SCSS HEX */
$gray-medium: #cfdbd5ff;
$gray-light: #e8eddfff;
$yellow: #f5cb5cff;
$black: #242423ff;
$gray-dark: #333533ff;

/* SCSS RGB */
$gray-medium-rgb: 207, 219, 213;
$gray-light-rgb: 232, 237, 223;
$yellow-rgb: 245, 203, 92;
$black-rgb: 36, 36, 35;
$gray-dark-rgb: 51, 53, 51;
