* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body {
	font-size: 62.5%;
}

ol,
ul {
	list-style: none;
}

@import './breakpoints';
@import './variables';
@import './grid';
@import './typo';
@import './utils';
@import './buttons';
